$primary-color: #6366f1; // Um roxo moderno
$bg-color: #0f172a;      // Azul marinho bem escuro
$card-bg: #1e293b;       // Cinza azulado para os cards
$text-color: #f8fafc;    // Branco gelo
$danger: #ef4444;        // Vermelho para deletar
$success: #22c55e;       // Verde para valores positivos